<!-- <h2 class="container">Product Details</h2>

<div class="container">
    <div class="col">
        <div class="row row-lg-3">
            <div class="card" style="width: 20rem;" *ngIf="product">
                <div class="card-body">
                    <h3>{{ product.name }}</h3>
                    <h3>{{ product.img}}</h3>
                    <h4>{{ product.price | currency }}</h4>
                    <p>{{ product.description }}</p>
                        <!-- ESTE BOTON SE ELIMANA PARA QUE LA FUNCION QUEDE EN EL PRODUCT-LIST  -->
                     <!-- <button (click)="addToCart(product)" [routerLink]="['/cart']">
                        Buy
                    </button> 
                    <button [routerLink]="['/']">
                        Atras
                    </button>     -->
-->